.title {
  color: var(--text-color);
  padding-bottom: 20px;
}
//HEADER
.header-container {
  background-color: var(--light-grey);
  .header-menu {
    display: flex;
    align-items: center;
    h1 {
      color: var(--fixed-white);
      cursor: pointer;
    }
  }
}
//FOOTER
.footer-container {
  background-color: var(--light-grey);
  p {
    margin:0px;
  }
}
//SWITCH
.switch {
  position: absolute;
  right: 0;
  background-color: var(--text-color)!important;
  .ant-switch-handle::before{
    background-color: var(--bg-color)!important;
  }
}
//TABS
.tabs {
  display: flex;
  justify-content: flex-start;
  .tab-item {
    margin-right: 2px;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    font-size: 14px;
    border: 1px solid var(--border-turkish);
    background-color: var(--fixed-white);
    cursor: pointer;
    &.active {
      color: var(--text-color);
      font-weight: bold;
      border: 1px solid var(--border-turkish);
      background-color: var(--bg-turkish);
    }
  }
}
.tabs-dropdown {
  position: relative;
  display: inline-block;
  button {
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--light-black);
    border:1px solid white;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
  }
  .items {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    z-index: 1000;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--light-black);
    border: 0px;
    color: var(--white);
    font-weight: bold;
    border:1px solid white;
    margin-top:5px;
    .item {
      padding: 8px 12px;
      cursor: pointer;
      font-size: 14px;
    }
  }
}
//LIST
.list {
  padding-inline-start: 0px;
  list-style-type: inherit;
  margin-block-start: 0px;
  color: var(--white);
  font-weight: bold;
  .row {
    display: flex;
    align-items: center;     
    padding: 10px;
    border-radius: 5px;
    .col {
      flex: 1;   
      &.col-tier {
        display: flex;
        align-items: center;
        .tier {
          margin-left: 10px;
        }      
        .tier-img {
          width: 60px;
        }  
        .LPdiff {
          display: flex;
          align-items: center;
        }   
      }             
    }
    .icon-image {
      display: flex;
      align-items: center;
      img {
        max-width: 40px;
        margin-right: 10px;
        &.summoner-icon{
          border: 1px solid var(--black);
        }
      }
    }
    .small-img {
      width: 40px;
    }
  }
  .resume {
    @extend .flex-start;          
    padding: 10px;
    align-items: stretch;
    @include respond-to('md') {
      display: inherit;
    }
    .col {
      flex: 1;                       
      text-align: center;  
      border-right: 1px solid #ffffff45;
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-direction: column;
    }
    .last-col {
      border-right: 0px solid #ffffff45;
    }
    .ant-progress-text {
      color: var(--white);
    }
    .icon-image {
      display: flex;
      align-items: center;
      img {
        max-width: 40px;
        margin-right: 10px;
      }
    }
    .role-item {
      display: flex;
      align-items: center;
      .ant-progress {
        width: inherit;
      }
      img {
        width: 35px;
        margin-right: 5px;
      }
      .ant-progress-inner{
        background-color: #ffffff24;
      }
    }
  }
  .matches-list {
    display: flex;
    flex-wrap: wrap;
    .match-item {
      display: flex;
      flex: 1 1 calc(20% - 10px);
      box-sizing: border-box;
      padding: 8px;
      font-weight: bold;
      justify-content: space-between;
      gap: 5px;
      &.green {
        border-left: 5px solid var(--green);
      }
      &.red {
        border-left: 5px solid var(--red);
      }
      .col {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
  }
}
.content {
  .small-img {
    width: 40px;
    border-radius: 50%;
    object-fit: cover; 
  }
  .ant-progress-text .ant-progress-text-end .ant-progress-text-outer {
    width: inherit!important;
  }
  .progress-games {
    span {
      min-width: 25px;
    }
    .ant-progress {
      padding-right:40px;
    }
  }
  .border-5-blue {
    border: 5px solid #d4d4f5;
    margin-top: 2px;
  }
  .bigger-font {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .ant-spin {
    display: flex;
    justify-content: center;
    margin-top:50px;
  }
  .anticon-fall {
    font-size: 1.5rem;
    color: var(--red);
  }
  .anticon-rise {
    font-size: 1.5rem;
    color: var(--green);
  }
  .small-rise-up {
    font-size: 1.3rem;
    color: var(--text-color);
  }
}
//LIST MOBILE VERSION
.list {
  padding-inline-start: 0px;
  list-style-type: inherit;
  margin-block-start: 0px;
  color: var(--white);
  font-weight: bold;
  .row-mobile {
    align-items: center;     
    padding: 10px;
    border-radius: 5px;
    .max-w-40 {
      font-size: 25px;
    }  
    .col {
      flex: 1;   
      flex-direction: column;
      .col-line {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom:5px;
        .summoner-icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          max-width: 40px;
          margin-right: 10px;
          &.summoner-icon{
            border: 1px solid var(--black);
          }
        }
        .tier-img {
          width: 60px;
        }
      }  
      .small-img {
        width: 40px;
      }
      .ant-progress-bg {
        height: 9px!important;
      }    
    }
  }
}
//BUTTONS LIST 
.icon-line {
  position: absolute;
  right: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  .icon-button {
    font-size: 20px;
    &.op-gg{
      width: 40px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}