.clickable { cursor: pointer; }
.mr-20 { margin-right: 20px; }
.mr-10 { margin-right: 10px; }
.ml-20 { margin-left: 20px; }
.max-w-20 { max-width: 20px; }
.max-w-60 {
  max-width: 60px;
}
.max-w-100 {
  max-width: 100px;
}
.min-w-300 {
  min-width: 250px;
}
.pt-20 {
  padding-top: 20px;
}